name: Commit Lint

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Lint commits
        uses: code-actions/commitlint-github-action@v6
