name: Commit Lint

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - run: npm ci

      - name: Lint PR commits
        if: github.event_name == 'pull_request'
        run: |
          npx commitlint \
            --from=${{ github.event.pull_request.base.sha }} \
            --to=${{ github.event.pull_request.head.sha }}

      - name: Lint push commit
        if: github.event_name == 'push'
        run: |
          npx commitlint --from=HEAD~1 --to=HEAD