name: Commit Lint

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  commitlint:
    name: Lint Commit Messages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install deps
        run: npm ci

      - name: Lint commits
        run: npx commitlint --from=HEAD~1 --to=HEAD
